.collection-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;

    &>h2 {
        text-align: center;
    }
}

.favorites-container {
    display:grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 5px;
    text-align: center;
}

.edit-character-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &>button {
        border-radius: 5px;
        background-color: rgba(50, 50, 250, 0.306);
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
        width: 30%;

        &.save-button:hover{
            background-color: rgba(43, 186, 52, 0.816);
            font-size: medium;
            cursor: pointer;
        }

        &.cancel-button:hover{
            background-color: rgba(245, 56, 56, 0.848);
            font-size: medium;
            cursor: pointer;
        }
    }

    &>.input-container {
        display: flex;
        justify-content: space-between;
        
        &>label {
            margin-right: 10px;
            font-weight: bolder;
        }

        &>input {
            border: 1px solid rgba(50, 50, 250, 0.306);
            border-radius: 5px;
            padding: 4px;
       
        }
    }
}